.ForMen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/Top Section.png');
    background-size: 100%;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

#chef {
    position: absolute;
    top: calc(50vh - 300px);
    left: calc(50vw - 150px);
}

#chef2 {
    display: none;
}

.ForMen p {
    position: absolute;
    top: 435px;
    left: calc(50vw - 250px);
    margin: 0;
    width: 500px;
    text-align: center;
    font-family: 'Rische';
    font-size: 50px;
    font-weight: lighter;
    color: #286086;
}

p a {
    color: #28D146;
    text-decoration: none;
}

#what {
    position: absolute;
    bottom: 50px;
    left: calc(50vw - 131px);
    font-size: 20px;
    width: 262px;
    font-family: 'Montserrat';
    color: #28D146;
    text-decoration: none;
}

#what img {
    position: absolute;
    right: 0;
    bottom: 1px;
}

.Simple {
    position: absolute;
    top: 900px;
    left: 50px;
    width: calc(100vw - 100px);
    
}

.Simple h2 {
    width: 100%;
    text-align: center;
}

.simpler {
    position: absolute;
    top: 70px;
    left: 0;
    font-size: 30px;
    margin: 0;
    font-family: 'Sora';
    font-weight: 200;
    width: 100%;
    text-align: center;
    color: #000;
}

#info {
    position: absolute;
    top: 190px;
    left: 0;
}

#stores {
    position: absolute;
    top: 292px;
    left: calc(25% - 112px);
}

#middle {
    position: absolute;
    top: 190px;
    left: calc(50% - 132px);
}

#connect {
    position: absolute;
    top: 292px;
    right: calc(25% - 112px);
}

#auto {
    position: absolute;
    top: 190px;
    right: 0;
}


.Simple .Button {
    position: absolute;
    top: 480px;
    left: calc(50% - 51px);
}


.Dressed {
    position: absolute;
    top: 1490px;
    left: 0;
    width: 100%;
    height: 700px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/image6.jpg');
    background-size: 100%;
}

.Dressed h2 {
    position: absolute;
    top: 110px;
    left: 50px;
    color: #fff;
}

.Dressed p {
    position: absolute;
    top: 185px;
    left: 50px;
    font-size: 20px;
    margin: 0;
    font-family: 'Sora';
    font-weight: 200;
    width: 832px;
    color: #fff;
}

.Dressed .Button {
    position: absolute;
    top: 268px;
    left: 50px;
}

#Socials {
    position: absolute;
    top: 2200px;
    left: 0;
    width: 100%;
}

#Socials h2 {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 100%;
    text-align: right;
}

.OurApp {
    position: absolute;
    top: 3000px;
    left: 0;
    width: 100%;
    height: 700px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/Group 22.png');
    background-size: 100%;
}

.OurApp h1 {
    color: #fff;
}

.OurApp p {
    position: absolute;
    top: 376px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Sora';
    font-size: 20px;
    color: #fff;
    margin: 0;
    font-weight: 200;
}





@media (max-width: 1300px) {
    .ForMen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 800px;
        background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/Top Section.png');
        background-size: 130%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
    }
    
    
    #chef {
        position: absolute;
        top: calc(50vh - 300px);
        left: calc(50vw - 150px);
    }
    
    #chef2 {
        display: none;
    }
    .ForMen p {
        position: absolute;
        top: 435px;
        left: calc(50vw - 250px);
        margin: 0;
        width: 500px;
        text-align: center;
        font-family: 'Rische';
        font-size: 50px;
        font-weight: lighter;
        color: #286086;
    }
    
    p a {
        color: #28D146;
        text-decoration: none;
    }
    
    #what {
        position: absolute;
        bottom: 50px;
        left: calc(50vw - 131px);
        font-size: 20px;
        width: 262px;
        font-family: 'Montserrat';
        color: #28D146;
        text-decoration: none;
    }
    
    #what img {
        position: absolute;
        right: 0;
        bottom: 1px;
    }
    
    .Simple {
        position: absolute;
        top: 900px;
        left: 50px;
        width: calc(100vw - 100px);
        
    }
    
    .Simple h2 {
        width: 100%;
        text-align: center;
    }
    
    .simpler {
        position: absolute;
        top: 70px;
        left: 0;
        font-size: 25px;
        margin: 0;
        font-family: 'Sora';
        font-weight: 200;
        width: 100%;
        text-align: center;
        color: #000;
    }
    
    
    #info {
        position: absolute;
        top: 190px;
        left: 0;
    }
    
    #stores {
        position: absolute;
        top: 292px;
        left: calc(25% - 50px);
    }
    
    #middle {
        position: absolute;
        top: 190px;
        left: calc(50% - 100px);
    }
    
    #connect {
        position: absolute;
        top: 292px;
        right: calc(25% - 50px);
    }
    
    #auto {
        position: absolute;
        top: 190px;
        right: 0;
    }
    
    .Simple .Button {
        position: absolute;
        top: 480px;
        left: calc(50% - 51px);
    }
    
    
    .Dressed {
        position: absolute;
        top: 1490px;
        left: 0;
        width: 100%;
        height: 700px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/image6.jpg');
        background-size: 100%;
    }
    
    .Dressed h2 {
        position: absolute;
        top: 110px;
        left: 50px;
        color: #fff;
    }
    
    .Dressed p {
        position: absolute;
        top: 185px;
        left: 50px;
        font-size: 18px;
        margin: 0;
        font-family: 'Sora';
        font-weight: 200;
        width: 832px;
        color: #fff;
    }
    
    .Dressed .Button {
        position: absolute;
        top: 268px;
        left: 50px;
    }
    
    #Socials {
        position: absolute;
        top: 2200px;
        left: 0;
        width: 100%;
    }
    
    #Socials h2 {
        position: absolute;
        top: 100px;
        right: 50px;
        width: 100%;
        text-align: right;
    }
    
    
    
    .OurApp {
        position: absolute;
        top: 3000px;
        left: 0;
        width: 100%;
        height: 700px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/Group 22.png');
        background-size: 100%;
    }
    
    .OurApp h1 {
        color: #fff;
    }
    
    .OurApp p {
        position: absolute;
        top: 376px;
        left: 0;
        width: 100%;
        text-align: center;
        font-family: 'Sora';
        font-size: 20px;
        color: #fff;
        margin: 0;
        font-weight: 200;
    }
    
   
    
    
}

@media (max-width: 1000px) {
    .ForMen{
        background-size: 155%;
    }

    .ForMen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 800px;
        background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/Top Section.png');
        background-size: 130%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
    }
    
    
    #chef {
        position: absolute;
        top: calc(50vh - 300px);
        left: calc(50vw - 150px);
    }
    
    #chef2 {
        display: none;
    }
    
    
    
    .ForMen p {
        position: absolute;
        top: 435px;
        left: calc(50vw - 250px);
        margin: 0;
        width: 500px;
        text-align: center;
        font-family: 'Rische';
        font-size: 50px;
        font-weight: lighter;
        color: #286086;
    }
    
    p a {
        color: #28D146;
        text-decoration: none;
    }
    
    #what {
        position: absolute;
        bottom: 50px;
        left: calc(50vw - 131px);
        font-size: 20px;
        width: 262px;
        font-family: 'Montserrat';
        color: #28D146;
        text-decoration: none;
    }
    
    #what img {
        position: absolute;
        right: 0;
        bottom: 1px;
    }
    
    .Simple {
        position: absolute;
        top: 900px;
        left: 50px;
        width: calc(100vw - 100px);
        
    }
    
    .Simple h2 {
        width: 100%;
        text-align: center;
    }
    
    .simpler {
        position: absolute;
        top: 70px;
        left: 0;
        font-size: 25px;
        margin: 0;
        font-family: 'Sora';
        font-weight: 200;
        width: 100%;
        text-align: center;
        color: #000;
    }
    
    
    
    
    
    #info {
        position: absolute;
        top: 190px;
        left: 0;
    }
    
    #stores {
        position: absolute;
        top: 292px;
        left: calc(25% - 50px);
    }
    
    #middle {
        position: absolute;
        top: 190px;
        left: calc(50% - 100px);
    }
    
    #connect {
        position: absolute;
        top: 292px;
        right: calc(25% - 50px);
    }
    
    #auto {
        position: absolute;
        top: 190px;
        right: 0;
    }
    
    
    .Simple .Button {
        position: absolute;
        top: 480px;
        left: calc(50% - 51px);
    }
    
    
    .Dressed {
        position: absolute;
        top: 1490px;
        left: 0;
        width: 100%;
        height: 700px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/image6.jpg');
        background-size: 100%;
    }
    
    .Dressed h2 {
        position: absolute;
        top: 110px;
        left: 50px;
        color: #fff;
    }
    
    .Dressed p {
        position: absolute;
        top: 185px;
        left: 50px;
        font-size: 18px;
        margin: 0;
        font-family: 'Sora';
        font-weight: 200;
        width: 832px;
        color: #fff;
    }
    
    .Dressed .Button {
        position: absolute;
        top: 268px;
        left: 50px;
    }
    
    #Socials {
        position: absolute;
        top: 2200px;
        left: 0;
        width: 100%;
    }
    
    #Socials h2 {
        position: absolute;
        top: 100px;
        right: 50px;
        width: 100%;
        text-align: right;
    }
    
    
    
    .OurApp {
        position: absolute;
        top: 3000px;
        left: 0;
        width: 100%;
        height: 700px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/Group 22.png');
        background-size: 100%;
    }
    
    .OurApp h1 {
        color: #fff;
    }
    
    .OurApp p {
        position: absolute;
        top: 376px;
        left: 0;
        width: 100%;
        text-align: center;
        font-family: 'Sora';
        font-size: 20px;
        color: #fff;
        margin: 0;
        font-weight: 200;
    }
    
    
}

@media (max-width: 500px) {
    .ForMen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 800px;
        background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/Top Section Mobile.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
    }
    
    
    #chef {
        position: absolute;
        top: 150px;
        left: calc(50vw - 125px);
        width: 250px;
        height: 500px;
    }
    
    #chef2 {
        display: none;
    }
    
    
    
    .ForMen p {
        position: absolute;
        top: 450px;
        left: 30px;
        margin: 0;
        width: calc(100% - 60px);
        text-align: center;
        font-family: 'Rische';
        font-size: 30px;
        font-weight: bold;
        color: #286086;
    }
    
    p a {
        color: #28D146;
        text-decoration: none;
    }
    
    #what {
        position: absolute;
        bottom: 50px;
        left: calc(50vw - 131px);
        font-size: 20px;
        width: 262px;
        font-family: 'Montserrat';
        color: #28D146;
        text-decoration: none;
    }
    
    #what img {
        position: absolute;
        right: 0;
        bottom: 1px;
    }
    
    .Simple {
        position: absolute;
        top: 800px;
        left: 0;
        width: 100%;
        
    }
    
    .Simple h2 {
        position: absolute;
        top: 100px;
        left: 30px;
        width: calc(100% - 60px);
        text-align: center;
    }
    
    .simpler {
        position: absolute;
        top: 187px;
        left: 0;
        font-size: 20px;
        margin: 0;
        font-family: 'Sora';
        font-weight: 200;
        width: 100%;
        text-align: center;
        color: #000;
    }
    
    
    
    #info {
        position: absolute;
        top: 261px;
        left: 30px;
    }
    
    #stores {
        position: absolute;
        top: 376px;
        right: 30px;
        text-align: right;
    }
    
    #stores p {
        text-align: right;
        right: 0;
    }

    #stores img {
        right: 0;
    }

    #middle {
        position: absolute;
        top: 496px;
        left: 30px;
    }
    
    #connect {
        position: absolute;
        top: 616px;
        right: 30px;
    }

    #connect img {
        right: 0;
    }
   
    #connect p {
        text-align: right;
    }

    #auto {
        position: absolute;
        top: 736px;
        left: 30px;
    }
    
    
    .Simple .Button {
        position: absolute;
        top: 884px;
        left: calc(50% - 51px);
    }
    
    
    .Dressed {
        position: absolute;
        top: 1800px;
        left: 0;
        width: 100%;
        height: 700px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/image6.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .Dressed h2 {
        position: absolute;
        top: 100px;
        left: 30px;
        color: #fff;
    }
    
    .Dressed p {
        position: absolute;
        top: 192px;
        left: 30px;
        font-size: 16px;
        margin: 0;
        font-family: 'Sora';
        font-weight: 200;
        width: calc(100% - 60px);
        color: #fff;
    }
    
    .Dressed .Button {
        position: absolute;
        top: 292px;
        left: 30px;
    }
    
    #Socials {
        position: absolute;
        top: 2500px;
        left: 0;
        width: 100%;
    }
    
    #Socials h2 {
        position: absolute;
        top: 100px;
        right: 30px;
        width: calc(100% - 60px);
        text-align: right;
    }
    
    
    
    .OurApp {
        position: absolute;
        top: 3300px;
        left: 0;
        width: 100%;
        height: 700px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/Group 22.png');
        background-size: 100%;
    }
    
    .OurApp h1 {
        color: #fff;
    }
    
    .OurApp p {
        position: absolute;
        top: 376px;
        left: 30px;
        width: calc(100% - 60px);
        text-align: center;
        font-family: 'Sora';
        font-size: 20px;
        color: #fff;
        margin: 0;
        font-weight: 200;
    }
}