.App {
  padding: 0;
  margin: 0;
}

/* HEADINGS */
h2 {
  font-size: 50px;
  margin: 0;
  font-family: 'Rische';
  font-weight: bold;
}

h1 {
  position: absolute;
  top: 232px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 100px;
  font-family: 'Rische';
  font-weight: normal;
  margin: 0;
  color: #286086;
}

/* CONTAINERS */
/* Header */
#logo {
  position: absolute;
  top: 30px;
  left: 50px;
  height: 30px;
  z-index: 3;
  width: auto;
}

#logo2 {
  display: none;
}

.menu {
  position: absolute;
  top: 30px;
  right: 50px;
  color: #fff;
  font-size: 20px;
  width: 90px;
  font-family: 'Montserrat';
  z-index: 3;
  cursor: pointer;
}

#menu {
  display: block;
}

#menu2 {
  width: 80px;
  display: none;
}

#menu2 img {
  width: 15px;
  top: 5px;
}

.menu img {
  position: absolute;
  right: 0;
  top: 9px;
}

.mobilemenu {
  display: none;
}
#search {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 188px;
  color: #fff;
  font-size: 20px;
  width: 90px;
  z-index: 3;
  font-family: 'Montserrat';
}

#search img {
  position: absolute;
  right: 0;
  top: 5px;
}

#dropdown {
  position: absolute;
  top: -600px;
  left: 0;
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  transition: 0.3s;
}

#dropdown a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

#dropdown ul {
  list-style-type: none;
  position: absolute;
  top: 100px;
  right: 50px;
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: right;
  margin: 0;
  transition: 0.3s;
}

#dropdown li {
  margin-bottom: 25px;
  transition: 0.3s;
}

#dropdown li img {
  transition: 0.3s;
  margin-bottom: 2px;
}

#partners {
  display: block;
}

#partners2 {
  display: none;
}

#partners2 img {
  
  transform: rotate(180deg);
}

.partneritem {
  display: none;
  opacity: 0;
  font-size: 16px;
}


#navbar .Button {
  position: absolute;
  top: 380px;
  right: 73px;
}

/* Footer */
footer {
  position: absolute;
  top: 3700px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #232323;
  color: #fff;
  font-size: 20px;
  font-family: 'Montserrat';
}

footer a{
  color: inherit;
}

#crib {
  position: absolute;
  left: 80px;
  top: 38px;
}

#crib img {
  position: absolute;
  top: 4px;
  left: -30px;
}

#backtotop {
  position: absolute;
  left: calc(50% - 44.5px);
  top: 38px;
  color: #fff;
}

#visit {
  position: absolute;
  right: 50px;
  top: 38px;
  cursor: pointer;
}


/* COMPONENTS */

/* Button */
.Button {
  font-family: 'Montserrat';
  font-size: 20px;
  color: #E28F1D;
  cursor: pointer;
}

.Button img {
  position: absolute;
  right: -23px;
}


/* Cards */
.Cards {
  width: 264px;
  font-family: "Sora";
  font-size: 20px;
  margin: 0;
  display: flex;
}

.Cards img {
  position: absolute;
  top: 0;
}

.Cards p {
  position: absolute;
  top: 35px;
  margin: 0;
}


/* DataForm */
#DataForm {
  position: absolute;
  top: 450px;
  left: calc(50% - 240px);
  width: 480px;
  height: 60px;
  font-size: 20px;
  font-family: 'Montserrat';
}

#tel {
  font-family: 'Montserrat';
  background: transparent;
  width: 225px;
  height: 60px;
  font-size: 20px;
  border: 2px solid #FFFFFF;
  border-radius: 5px 0px 0px 5px;
  color: #fff;
  padding-left: 20px;
}

#tel::placeholder {
  color: #fff;
}

#submit {
  font-family: 'Montserrat';
  background: #E28F1D;
  width: 225px;
  height: 65px;
  font-size: 20px;
  border: 2px solid #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  padding: 10px;
  right: 0;
}


/* TalkButton */
.TalkButton {
  width: 264px;
  height: 264px;
  border-radius: 40px;
  color: #fff;
}

.TalkButton img {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 40px;
  height: 40px;
}

.TalkButton p {
  position: absolute;
  top: 95px;
  left: 20px;
  font-size: 20px;
  font-family: 'Montserrat';
}

.TalkButton span {
  position: absolute;
  bottom: 30px;
  font-size: 20px;
  left: 20px;
  font-family: 'Montserrat';
}

#insta {
  position: absolute;
  top: 240px;
  left: 50px;
}

#insta div {
  background: #E1306C;
  box-shadow: 4px 4px 10px rgba(225, 48, 108, 0.4);
  transition: 0.3s;
}

#insta div:hover {
  background: #E1306C;
  box-shadow: 10px 10px 10px rgba(225, 48, 108, 0.4);
}
#twitter {
  position: absolute;
  top: 373px;
  left: calc(25% - 40px);
}

#twitter div {
  background: #1D9BF0;
  box-shadow: 4px 4px 10px rgba(29, 155, 240, 0.4);
  transition: 0.3s;
}

#twitter div:hover {
  background: #1D9BF0;
  box-shadow: 10px 10px 10px rgba(29, 155, 240, 0.4);
  transition: 0.3s;
}

#facebook {
  position: absolute;
  top: 240px;
  left: calc(50% - 132px);
}

#facebook div {
  background: #1778F2;
  box-shadow: 4px 4px 10px rgba(23, 120, 242, 0.4);
  transition: 0.3s;
}

#facebook div:hover {
  background: #1778F2;
  box-shadow: 10px 10px 10px rgba(23, 120, 242, 0.4);
  transition: 0.3s;
}

#linkedin {
  position: absolute;
  top: 373px;
  right: calc(25% - 40px);
}

#linkedin div {
  background: #0A66C2;
  box-shadow: 4px 4px 10px rgba(10, 102, 194, 0.4);
  transition: 0.3s;
}

#linkedin div:hover {
  background: #0A66C2;
  box-shadow: 10px 10px 10px rgba(10, 102, 194, 0.4);
  transition: 0.3s;
}

#whatsapp {
  position: absolute;
  top: 240px;
  right: 50px;
}

#whatsapp div{
  background: #28D146;
  box-shadow: 4px 4px 10px rgba(40, 209, 70, 0.4);
  transition: 0.3s;
}

#whatsapp div:hover{
  background: #28D146;
  box-shadow: 10px 10px 10px rgba(40, 209, 70, 0.4);
  transition: 0.3s;
}

@media (max-width: 1300px) {
  h2 {
      font-size: 40px;
      margin: 0;
      font-family: 'Rische';
      font-weight: bold;
  }

  /* CONTAINERS */
  /* Header */
  #logo {
    position: absolute;
    top: 30px;
    left: 50px;
    height: 30px;
    z-index: 3;
    width: auto;
}

  #logo2 {
      display: none;
  }

  .menu {
      position: absolute;
      top: 30px;
      right: 50px;
      color: #fff;
      font-size: 20px;
      width: 90px;
      font-family: 'Montserrat';
      z-index: 3;
  }

  #menu {
      display: block;
  }

  #menu2 {
      display: none;
  }
  .menu img {
      position: absolute;
      right: 0;
      top: 9px;
  }

  #search {
      position: absolute;
      top: 30px;
      right: 188px;
      color: #fff;
      font-size: 20px;
      width: 90px;
      z-index: 3;
      font-family: 'Montserrat';
  }

  #search img {
      position: absolute;
      right: 0;
      top: 5px;
  }

  #dropdown {
      position: absolute;
      top: -600px;
      left: 0;
      width: 100%;
      height: 600px;
      background: rgba(0, 0, 0, 0.9);
      z-index: 2;
      transition: 0.3s;
  }

  #dropdown a {
      text-decoration: none;
      color: #fff;
      transition: 0.3s;
  }

  #dropdown ul {
      list-style-type: none;
      position: absolute;
      top: 100px;
      right: 50px;
      font-family: 'Montserrat';
      font-size: 20px;
      text-align: right;
      margin: 0;
      transition: 0.3s;
  }

  #dropdown li {
      margin-bottom: 25px;
      transition: 0.3s;
  }

  #dropdown li img {
      transition: 0.3s;
      margin-bottom: 2px;
  }

  #partners {
      display: block;
  }

  #partners2 {
      display: none;
  }

  .partneritem {
      display: none;
      opacity: 0;
      font-size: 16px;
  }


  #navbar .Button {
      position: absolute;
      top: 380px;
      right: 73px;
  }

}